/* css para el portafolio  */

/* variables globales */
:root{
    --color-gradient: #ccd0d5;
    --box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);
    --box-shadow1: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    --box-shadow2:0 0px 0px 0 var(--color-gradient), 0 0px 10px 0 var(--color-gradient);
    --box-shadow3: 0 0px 0px 0 var(--color-gradient), 0 0px 10px 0 #2f3238;

    --fondo0: #0f1518;
    --fondo1: white;
    --fondo2: black;

    --text-color: black;
    --text-color2: white;


    --relleno: 15px;
    --relleno1: 10px;
    --relleno2: 7px;
    --relleno3: 5px;

    --redondo1: 50px;
    --redondo2: 20px;
    --redondo3: 10px;

    --text-color1: black;
    --text-color2: white;

    --animacion-burbuja: modal-burbuja 155ms alternate linear;

    
    --color-gray: #cfd0d1;
    --color-green: #008A4C;
    --color-alert: #e90c0c;

    --color-grey-normal: rgba(0, 0, 0, 0.50);
    --color-transparente: transparent;
    --color-parpadeo: #f3f3f3;
    --color-parpadeo1: #ecffda;
    --color-fondo-parpadeo: #ffffff;

    --animacion: modal-pop 110ms alternate linear;


    --font-size-titulo: 30px;
    --font-size-titulo1: 35px;
    --font-size-titulo2: 40px;

    --font-size1: 25px;
    --font-size2: 20px;
    --font-size3: 17px;
    --font-size4: 15px;
    --font-size5: 12px;
    --font-size6: 10px;

    --fuente-strong: "Staatliches", sans-serif;
    --fuente: "Roboto", sans-serif;

    --duracion-modal-pop: 190ms;
}

html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background: var(--fondo0);
    box-sizing: border-box;
}

.display-none{
    display: none !important;
}

#root{
    width: 100%;
    height: calc(100% - 69px);
}
.App{
    height: 100%;
    box-sizing: border-box;
}
.App > section:nth-child(2){
    height: calc(100% - 59px);
}
.App > section{
    overflow: auto;
    animation: var(--animacion-burbuja);
}

/*-------------- Scroll ----------*/
/* para el grosor del scrollbar */
.App > section::-webkit-scrollbar{
    width: 5px;
    border-radius: var(--redondo1);
}
/* para el boton que se desliza sobre la barra */
.App > section::-webkit-scrollbar-thumb{
    background: var(--text-color1);
    border-radius: var(--redondo1);
}

/* para el contenedor de la barra que se desliza */
.App > section::-webkit-scrollbar-track{
    border-radius: var(--redondo1);
}

.title{
    width: 100%;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--text-color2);
    font-family: var(--fuente-strong);
    text-align: center;
}

/* Para la animacion de salir del interior hasta el exterior */
@keyframes modal-burbuja {
    from { transform: scale(-0.2); }
    to { transform: scale(1); }
}

/* Para la animacion de salir del interior hasta el exterior */
@keyframes modal-pop {
    from { transform: scaleX(-0.2); }
    to { transform: scaleX(1); }
}